.chatContainer {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 30px auto;
  border: none;
  border-radius: 12px;
  background: white;
  height: 90vh;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.title {
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #e9e9eb;
  font-size: 1.5em;
  font-weight: 600;
  color: #007bff;
  text-align: center;
}

.messages {
  overflow-y: auto;
  padding: 10px 20px;
  flex-grow: 1;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; /* Sets a gap between message elements */
}

.message {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 18px;
  display: inline-block;
  max-width: calc(100% - 40px);
}
.messageRole {
  font-weight: bold;
}

.messageContent {
  margin: 0;
}

.user {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  width: fit-content;
}

.bot {
  align-self: flex-start;
  background-color: #e9e9eb;
  width: fit-content;
}

.inputArea {
  display: flex;
  padding: 10px;
}

.input {
  flex-grow: 1;
  border: none;
  padding: 15px;
  margin-right: 10px;
  border-radius: 20px;
  background: #f0f0f0;
  resize: none;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

.sendButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.sendButton:disabled {
  background-color: #68a0b4;
  cursor: not-allowed;
}

.sendButton:hover:not(:disabled) {
  background-color: #0056b3;
}

.loading {
  text-align: center;
  padding: 20px;
  color: rgb(255, 196, 0);
}

.loading::before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  border: 3px solid rgba(0, 123, 255, 0.3);
  border-top-color: rgba(0, 123, 255, 0.75);
  width: 24px;
  height: 24px;
  border-top: 2px solid rgba(0, 123, 255, 0.75);
  border-right: 2px solid transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}